* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
}
main section{
    margin-top: 130px;
}
/* shared styles  */
.text-primary {
    color: #FD6E0A;
}

.btn_primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #FFF;
    padding: 5px 15px;
    font-size: 18px;
    margin: 10px;
    font-weight: 700;

}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 100px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.web-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}

/* header related stle */
.header {
    background-color: #FFF8F3;
    background-image: url("port images/header_bg.png"), url("port images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right,top left;
    background-size: contain;
    

}

.banner {
    padding: 80px 30px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.b_gretting {

    font-size: 45px;
    color: #474747;
    font-weight: 600;

}

.b_img {
    width: 400px;
}

.b_title {
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 5px;

}

.b_pera {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 500px;

}

/* main sections styles */
main {
    max-width: 1140px;
    margin: 0 auto;

}

.about_info_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info_title {
    padding: 5px;
    margin: 13px;
}

.about_info {
    text-align: center;
}

/* about section styles */
.about {
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px;
    margin: 130px;
}

.section_title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
}

.section_title {
    padding: 10px;
    padding-bottom: 20px;
    font-size: 40px;
}

/* skils related styls */
#what_i_do {
    padding: 30px 150px;
}

.skill_containner {
    display: flex;
    gap: 30px;
    padding: 20px;
    margin: 20px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

.skill_img {
    padding: 5px 3px 10px 0px
}

.skill_title {
    padding: 5px 3px 10px 0px;
}

.skill_descrioption {
    color: var(--dark-03, #757575);
    
    font-size: 16px;
    
    font-weight: 300;
    line-height: 28px;
}

/* education section styles */
.c_title{
    color:  #474747;
    font-size: 30px;
    font-weight: 600;
    
}
.section_title{
    margin:  50px 0;
    font-size: 50px;
}
.resume_container{
    display: flex;
    gap: 50px;
    padding: 50px;
}
.resume_container hr{
    margin:  30px 0;
    
}
.r_i_desription{
color: #757575;
font-size: 16px;
font-weight: 400;
line-height: 28px;
margin:  30px 0;
}
.r_i_title{
 color:#474747;
font-size: 25px;
font-weight: 700;
margin:  30px 0;

}
.r_i_institute{
 color:#757575;
font-size: 20px;
font-weight: 600;

}
.downlode_cv{
    text-align: center;
    margin:  30px 0;
}
/* footer styles */

.footer_container{
    display: flex;
    background: #FFF8F3;
    padding: 130px 200px ;
    margin-top: 100px;
    gap: 100px;
}
.contact input, textarea{
    display: block;
    margin-bottom: 25px;
    margin-top: 30px;
    padding: 18px 35px;
    
    border-radius: 5px;
    background:color, #FFF;
    border: 0;
    width: 100%;
}
.social_links a{
    margin-right: 10px;

}
.social_links{
    margin-top: 20px;
}
.btn_bottom{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #FFF;
    padding: 5px 15px;
    font-size: 18px;
    margin: 10px;
    font-weight: 700;
}