*{
    margin: 0px;
    padding:0px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/* shared styles  */
.text-primary{
    color: #FD6E0A;
}
.btn_primary{
 border-radius: 5px;
background: #FD6E0A;
border: 0;
color: #FFF;
padding: 5px 15px;
font-size: 18px;

font-weight: 700;

}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 100px;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}

.web-title{
color: #181818;
font-size: 45px;
font-weight: 800;

} 
/* header related stle */
.header{
    background-color: #FFF8F3 ;
}
.banner{
    padding: 30px 30px 20px 100px;
    display: flex;
    align-items: center;
}
.b_img{
    width: 400px;
}